body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    border-style: solid;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.subContainer {
    display: flex;
    flex-grow: 1;
}

.square {
    border-style: solid;
    border-width: 1px;
    flex-grow: 1;
}