@font-face {
    font-family: 'GrizzlyAttack';
    src: url(fonts/Grizzly\ Attack\ -\ PERSONAL\ USE.ttf);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 60px;
    margin: 0px;
    background-color: rgb(180, 172, 172);
}

#main-container {
    border-style: solid;
    width: 740px;
    height: 740px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);
}

.subContainer {
    display: flex;
    flex-grow: 1;
}

.square {
    border-style: solid;
    border-width: 1px;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #D62121;
    width: 380px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 5px;
    border-left-width: 5px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#title-style {
    height: 200px;
    margin-top: 10px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.titleWords {
    font-family: 'GrizzlyAttack', sans-serif;
    font-size: 45px;
    background: -webkit-linear-gradient(270deg, #b38955, #ead3a1);
    background-clip: content-box;;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(244, 223, 104, 0.818); /* Fallback color */
}

.image {
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.colorButtons {
    margin: 10px 0 10px 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-radius: 6px;
    border-width: 3px;
    box-shadow: 3px 3px black;
}

#btns-title {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    background: -webkit-linear-gradient(45deg, rgb(232, 164, 164), rgb(93, 205, 93), rgb(54, 157, 235));
    background-clip: content-box;;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(244, 223, 104, 0.818); /* Fallback color */
}

#explanation-style {
    height: 200px;
}

#grid-generation-btn {
    margin: 10px 0 10px 0;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-radius: 6px;
    border-width: 3px;
    box-shadow: 3px 3px black;
}
